In [1]:
#import statements
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import plotly
from plotly.graph_objs import *
import plotly.offline as plot
import plotly.graph_objs as go
plot.offline.init_notebook_mode(connected=True)

In [57]:
#Loading data into pandas
deliveries = pd.read_table('deliveries.csv', sep=",")
matches = pd.read_table('matches.csv', sep=",")
deliveries
print(deliveries.columns)

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [250]:
def runs_scored_by_batsman_in_a_match(match_id, batsman_name):
    s = deliveries.groupby(['match_id','batsman'])['batsman_runs'].sum()
    return s[match_id][batsman_name]

In [251]:
runs_scored_by_batsman_in_a_match(1,'BB McCullum')

158

In [252]:
def max_scorer_in_a_match(match_id):
    s = deliveries.groupby(['match_id','batsman'])['batsman_runs'].sum()
    name = str(s[match_id].idxmax())
    max_score = str(s[match_id].max())
    name_score = "Maximum scorer is " + name  +" , he scored " + max_score
    return name_score

In [253]:
max_scorer_in_a_match(1)

'Maximum scorer is BB McCullum , he scored 158'

In [254]:
def min_scorer_in_a_match(match_id):
    s = deliveries.groupby(['match_id','batsman'])['batsman_runs'].sum()
    name = str(s[match_id].idxmin())
    max_score = str(s[match_id].min())
    name_score = "Maximum scorer is " + name  +" , he scored " + max_score
    return name_score

In [255]:
min_scorer_in_a_match(1)

'Maximum scorer is B Akhil , he scored 0'

In [256]:
def balls_faced_by_batsman_in_a_match(match,batsman):
     return(deliveries[(deliveries['match_id'] == match)&(deliveries['batsman'] == batsman)&(deliveries['wide_runs'] == 0)].shape[0])

In [257]:
balls_faced_by_batsman_in_a_match(1,"SC Ganguly")

12

In [258]:
def strike_rate_in_match(match_id,batsman):
    s = deliveries.groupby(['match_id','batsman'])['batsman_runs'].sum()
    runs = s[match_id][batsman]
    ball = balls_faced_by_batsman_in_a_match(match_id,batsman)
    sr = (100*runs)/ball
    return sr

In [259]:
strike_rate_in_match(1,"BB McCullum")

216.43835616438355

In [260]:
def total_4_in_a_match(match_id,batsman):
    return(deliveries[(deliveries['match_id'] == match_id)&(deliveries['batsman'] == batsman)&(deliveries['total_runs'] == 4)].shape[0])

In [261]:
total_4_in_a_match(1,"BB McCullum")

10

In [262]:
def total_6_in_a_match(match_id,batsman):
    return(deliveries[(deliveries['match_id'] == match_id)&(deliveries['batsman'] == batsman)&(deliveries['total_runs'] == 6)].shape[0])

In [263]:
total_6_in_a_match(1,"BB McCullum")

13

In [264]:
def dot_balls_in_a_match(match_id,batsman):
    return(deliveries[(deliveries['match_id'] == match_id)&(deliveries['batsman'] == batsman)&(deliveries['total_runs'] == 0)].shape[0])

In [265]:
dot_balls_in_a_match(1,"BB McCullum")

17

In [283]:
def total_runs_scored_by_a_team_in_a_match(match):
    match_id = match
    s = deliveries.groupby(['match_id','batting_team'])['total_runs'].sum()
    return s[match_id]

In [284]:
total_runs_scored_by_a_team_in_a_match(1)

batting_team
Kolkata Knight Riders          222
Royal Challengers Bangalore     82
Name: total_runs, dtype: int64

In [270]:
def runs_scored_by_batsman():
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    name = str(s.idxmax())
    max_score = str(s.max())
    name_score = "Maximum scorer is " + name  +" , he scored " + max_score
    return name_score

In [271]:
runs_scored_by_batsman()

'Maximum scorer is SE Marsh , he scored 616'

In [509]:
def total_4_in_season():
    return(deliveries[(deliveries['batsman_runs'] == 4)&(deliveries['wide_runs'] == 0)
                      &(deliveries['bye_runs'] == 0)&(deliveries['legbye_runs'] == 0)].shape[0])

In [510]:
total_4_in_season()

1703

In [505]:
def total_6_in_season():
    return(deliveries[(deliveries['batsman_runs'] == 6)&(deliveries['wide_runs'] == 0)
                      &(deliveries['bye_runs'] == 0)&(deliveries['legbye_runs'] == 0)].shape[0])

In [506]:
total_6_in_season()

623

In [360]:
def balls_faced_by_batsman(bats):
    return(deliveries[(deliveries['batsman'] == bats)&(deliveries['wide_runs'] == 0)].shape[0])

In [422]:
def highest_strike_rate():
    sr = []
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    bats = s.index.tolist()
    for bat in bats:
        runs = s[bat]
        ball = balls_faced_by_batsman(bat)
        sr.append((100*runs)/ball)
    sr_df = pd.DataFrame(
    {'batsman_name': bats,
     'strike_rate': sr,
    })    
    sr_df.set_index('batsman_name',inplace = True)
    name = str(sr_df.idxmax())
    max_score = str(sr_df.max())
    name_score = name  +" has highest strike rate of" + max_score
    return name_score

In [423]:
highest_strike_rate()

'strike_rate    Umar Gul\ndtype: object has highest strike rate ofstrike_rate    205.263158\ndtype: float64'

In [424]:
def lowest_strike_rate():
    sr = []
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    bats = s.index.tolist()
    for bat in bats:
        runs = s[bat]
        ball = balls_faced_by_batsman(bat)
        sr.append((100*runs)/ball)
    sr_df = pd.DataFrame(
    {'batsman_name': bats,
     'strike_rate': sr,
    })    
    sr_df.set_index('batsman_name',inplace = True)
    name = str(sr_df.idxmin())
    max_score = str(sr_df.min())
    name_score = name  +" has highest strike rate of" + max_score
    return name_score

In [425]:
lowest_strike_rate()

'strike_rate    A Mukund\ndtype: object has highest strike rate ofstrike_rate    0.0\ndtype: float64'

In [438]:
def highest_balls_faced():
    sr = []
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    bats = s.index.tolist()
    for bat in bats:
        ball = balls_faced_by_batsman(bat)
        sr.append(ball)
    sr_df = pd.DataFrame(
    {'batsman_name': bats,
     'balls_faced': sr,
    })  
    #print(sr_df)
    sr_df.set_index('batsman_name',inplace = True)
    name = str(sr_df.idxmax())
    max_score = str(sr_df.max())
    name_score = name  +" has faced" + max_score
    return name_score

In [439]:
highest_balls_faced()

'balls_faced    SE Marsh\ndtype: object has facedballs_faced    441\ndtype: int64'

In [499]:
#wide_runs',
 #      'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
def total_4_6_by_batsman(batsman):
    fours = deliveries[(deliveries['batsman'] == batsman)&(deliveries['batsman_runs'] == 4)&(deliveries['wide_runs'] == 0)
                      &(deliveries['bye_runs'] == 0)&(deliveries['legbye_runs'] == 0)].shape[0]
    sixes = deliveries[(deliveries['batsman'] == batsman)&(deliveries['batsman_runs'] == 6)&(deliveries['wide_runs'] == 0)
                      &(deliveries['bye_runs'] == 0)&(deliveries['legbye_runs'] == 0)].shape[0]
    
    print("total fours scored by him are",fours,"total sixes scored by him are",sixes)

In [500]:
total_4_6_by_batsman("SE Marsh")

total fours scored by him are 59 total sixes scored by him are 26

In [501]:
def most4s_by_batsman():
    sr = []
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    bats = s.index.tolist()
    for bat in bats:
        fours = deliveries[(deliveries['batsman'] == bat)&(deliveries['batsman_runs'] == 4)&(deliveries['wide_runs'] == 0)
                      &(deliveries['bye_runs'] == 0)&(deliveries['legbye_runs'] == 0)].shape[0]
    
        sr.append(fours)
    sr_df = pd.DataFrame(
    {'batsman_name': bats,
     'no_of_4s': sr,
    })  
    #print(sr_df)
    sr_df.set_index('batsman_name',inplace = True)
    name = str(sr_df.idxmax())
    max_score = str(sr_df.max())
    name_score = name  +" has hit more 4s,he hit " + max_score
    return name_score

In [502]:
most4s_by_batsman()

'no_of_4s    G Gambhir\ndtype: object has hit more 4s,he hit no_of_4s    68\ndtype: int64'

In [489]:
def most6s_by_batsman():
    sr = []
    s = deliveries.groupby(['batsman'])['batsman_runs'].sum()
    bats = s.index.tolist()
    for bat in bats:
        sixes = deliveries[(deliveries['batsman'] == bat)&(deliveries['batsman_runs'] == 6)].shape[0]
        sr.append(sixes)
    sr_df = pd.DataFrame(
    {'batsman_name': bats,
     'no_of_6s': sr,
    })  
    #print(sr_df)
    sr_df.set_index('batsman_name',inplace = True)
    name = str(sr_df.idxmax())
    max_score = str(sr_df.max())
    name_score = name  +" has hit more 6s,he hit " + max_score
    return name_score

In [490]:
most6s_by_batsman()

'no_of_6s    ST Jayasuriya\ndtype: object has hit more 6s,he hit no_of_6s    31\ndtype: int64'